# Eclipse Files
.settings/
bin/
.metadata/
.classpath
.project
.vscode
.DS_Store

# IDEA Files
.idea/
*.iml

# Other Files
.DS_Store
target/
folia-target/
paper-target/
spigot-target/
bin/
*.bak
yt-settings.yml
.vscode/settings.json
